---
layout: default
bodyClass: "page-prototype"
---
<div class="intro-small">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fo7ypeNanH2hWbYJK4W1VS9%2FC2Log-MVP%3Fpage-id%3D0%253A1%26node-id%3D63-2%26viewport%3D1031%252C-802%252C0.13%26t%3DPZpp9ZrJLEmPnbR2-1%26scaling%3Dscale-down%26starting-point-node-id%3D15%253A12" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>