---
layout: 
bodyClass: 
---
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
    <h1>C2Log NDC Barcode Scanner</h1>
    <p>Welcome, please use your camera to scan an NDC.</p>
    <div class="container">
        <button id="start">Scan Barcode</button>
        <div id="reader"></div>
        <div id="result"></div>
    </div>
</html>